body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  font-family: "Tilt Neon";
}
.markdown-container {
  height: auto;
  width: 95vw;
  color: white;
  margin: 0px 30px;
  text-align: center;
}

.row {
  min-height: 80vh;
}

.header {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  padding: 0.1px 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  border-bottom: 4px solid #282c34;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 80vh;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#preview {
  min-height: 80vh;
  background-color: white;
  border-radius: 0px;
  text-align: justify;
  color: black;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#preview img {
  max-width: 90%;
}
